{% extends 'base.html' %}

{% block title %}
결제
{% endblock %}

{% block script %}
<script type="text/javascript">
csrf_token = "{{ csrf_token }}";

order_complete_url = "{% url 'order:order_complete' %}";
</script>

{% endblock %}

{% block content %}
<div class="row">
    <div class="col">
        <div class="alert alert-danger" role="alert" >주문확인</div>
        <ul class="list-group">
        {% for item in cart %}
            <li class="list-group-item" style="font-weight: bold;">
                {{item.product.name}} x {{item.quantity}}개
            </li>
        {% endfor %}
        {% if cart.coupon %}
            <li class="list-group-item">
                쿠폰:
                <span>{{ cart.coupon.amount}}원</span>
            </li>
        {% endif %}
        </ul>
        <div class="alert alert-danger" role="alert">결제금액 :{{cart.get_total_price}}원</div>

        <!-- form에 class 추가 -->
        <form action="" method="post" class="order-form">
            {{form.as_p}}
            {% csrf_token %}
            <input type="hidden" name="pre_order_id" value="0">
            <input type="hidden" name="amount" value="{{ cart.get_total_price|floatformat:'2' }}">
            <input type="submit" class="btn btn-dark float-right" style="background-color: #900034;" value="주문완료">
        </form>
    </div>
</div>
{% endblock %}