
{% extends "base.html" %}
{% block title %}상세 정보{% endblock %}
{% block content %}
    <div class="container mt-4">
        <div class="row justify-content-center">
            <div class="row" style="background-color: rgba(235, 225, 220, 0.5); ">
                <div class="col-5 mt-4">
                    {% if product.image %}
                        <img src="{{ product.image.url }}" width=100%>
                    {% else %}
                        <p>등록된 이미지가 없습니다.</p>
                    {% endif %}
                </div>

                <div class="col mt-4">
                </div>

                <div class="col-6 mt-3">
                    <h1>{{product.name}}</h1>
                    <p> <h3><span class="badge badge-light" style="color: #900034;"> 가격 {{product.price}}원</span></h3></p>
                    <hr>
                    <form action="{% url 'cart:product_add' product.id %}" method="post">
                        {{add_to_cart}}
                        {% csrf_token %}
                        <input type="submit" class="btn btn-dark" style="background-color: #900034;" value="담기">
                    </form>
                    <hr>
                    <span class="badge badge-light" style="color: #900034;">상세 정보</span><h5 style ="background-color:rgba(235, 225, 220, 0.5); ">{{product.description|linebreaks}}</h5>                </div>
            </div>
        </div>
    </div>

{% endblock %}